
  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>


<header>
  <div class = "container">
  <a href="/">
    <img src="/images/etc/logo.png" id="logo" class="logo" alt="logo">
  </a>
  
  </div>
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/restaurants" >All Restaurants</a></li>
      <% if (user) { %>
      <li><a href="/restaurants/your" >Your Restaurants</a></li>
      <% } %>
      <% if (user) { %>
      <li><a href="/restaurants/new" >Add Restaurant</a></li>
      <% } %>
      <% if (user) { %>
      <li>
        <a href="/auth/logout" type="submit">Logout</a>
      </li>
      <% } else { %>
        <li><a href="/auth/google" class="siwg-link">
          <button type="submit" class="siwg">
            <img id="siwg-image" alt="Sign in with Google" />
          </button>
        </a></li>
        <% } %> 
        
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</header>
<body>
 



