.welcome{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 20px 0 0 0;
  letter-spacing: 10px;
}

.logo-img{
  max-width: 40%;
}

.avatar{
  width: 100px;
  border-radius: 50%;
  margin-top: 50px;
}
.sign-name{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
#description{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.2px;
  line-height: 17px;
  padding: 0 25px;
  margin-top: 20px;
}
.index-view{
  font-family: 'Montserrat', sans-serif;
  font-size: smaller;
  background-color: white;
  border: solid black 1px;
  cursor: pointer;
}

.index-view:hover{
  background-color: #d5b839;
  color: white;
  border: none;
}


