html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
  --background: rgb(252, 239, 180, .98);
}




header{
  background: var(--background);
  text-align: center;
  position:fixed;
  z-index: 999;
  width:100%;
  top:0;
  left:0;
}

.logo {
  padding: 10px 0;
  max-width: 200px; 
  max-height: 80px; 
 }

 .logo:hover{
   opacity:.7;
 }
 
.nav-toggle{
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label{
  position: absolute;
  top:0;
  left:0;
  margin-left: 1em;
  height: 100%;
  display:flex;
  align-items: center;;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
  display: block;
  background: #a58c19;
  height: 2px;
  width:3em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after{
  content: '';
  position: absolute;
}
.nav-toggle-label span::before{
  bottom:7px;
}
.nav-toggle-label span::after{
  top:7px;
}

nav {
  position: absolute;
  text-align: left;
  top:100%;
  left:0;
  background: var(--background);
  width:100%;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}


nav ul{
  margin:0;
  padding:0;
  list-style: none;
}

nav li{
  margin-bottom: 1.5em;
  margin-left: 1em;
}

nav a{
  color:#a58c19;
  text-decoration:none;
  font-size: 1.8rem;
  text-transform: uppercasse;
  opacity:0;
  transition: opacity 150ms ease-in-out ;
  font-family: 'Montserrat', sans-serif;
}

nav a:hover{
  color:black;
}

.nav-toggle:checked ~ nav{
  transform: scale(1,1);
}

.nav-toggle:checked~nav a{
  opacity: 1;
  opacity: opacity 250ms ease-in-out 250ms;
}

body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(/images/etc/beeBG.png);
  background-repeat: repeat;
}

main {
  width: 520px;
  min-height: 100vh;
  text-align: center;
  background-color: #fcf3cf;
  padding-top: 0px;
  margin: 105px auto;
  border-radius: 5%;
}

h1 {
  font-size: 3.6rem;
}

@media only screen and (min-width: 800px) {
  main{
    width: 750px;
  }

  h1{
    font-size: 6rem;
  }
  .nav-toggle-label{
    display:none;
  }
  header{
    display: grid;
    grid-template-columns: 3fr auto minmax(600px, 3fr) 1fr;
  }
  .logo{
    grid-column: 2/3;
  }
  nav{
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul{
    display: flex;
  }
  nav li{
    margin-left: 3em;
    margin-bottom: 0px;
  }
  nav a{
    opacity:1;
    position: relative
  }
  nav a::before{
    content: '';
    display: block;
    height: 3px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0,1);
    transform-origin: left;
    transition: transform ease-in-out 450ms;
  }
  nav a:hover::before{
    transform: scale(1,1);
  }
}
