
h1{
  padding: 20px 0 10px 0;
}
#card-container{
  padding: 0;
  margin: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.card-base {
  width: 200px;
  height: 300px;
  background-color: #FAE588;
  border-radius: 20px;
  margin: 10px 15px;
}

.card-base:hover {
  width: 200px;
  height: 300px;
  background-color: #f9eaaa;
  border-radius: 20px;
  animation: pulse 1.2s;
}

.card-title{
  margin-top: 10px;
  font-size: 1.5rem;
  text-align: left;
  padding: 0 5px;
}
.card-text{
  font-size: 0.8rem; 
  text-align: left;
  padding: 0 5px;
}
.detail-btn{
  font-size: 0.9rem; 
  text-align: left;
  padding: 0 5px;
  color:#8c7c34;
  border:none;
  background-color: transparent; 
  text-decoration: underline;
}
.detail-btn:hover{
  color:black;
}
.card-detail{
  margin: 0 148px 0 0;
}


.restaurant-bg {
  width: 200px;
  height: 160px;
  position: relative;
  z-index: 1;
}


.dlt-btn{
  background-color: transparent;
  border: none;
  color: rgb(254, 254, 215);
  font-size: 1.5rem;
  margin: 5px 0 0 160px;
  
}

.dlt-btn:hover{
  color: rgb(252, 94, 94)
}

@media only screen and (min-width: 800px) {
  h1{
    font-size: 6rem;
  }
  
  
}