<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/restaurants/new.css" />

<main>
  <h1 id="title"><%= title %></h1>
  <section class="body">
    <form id="new-form" action="/restaurants" method="POST">
      <label for="name-input">Name :</label>
      <input type="text" name="name" id="name-input"><br>
      <label for="price-range-select">Price Range :</label>
      <select name="priceRange" id="price-range-select">
        <option value="$">$</option>
        <option value="$$">$$</option>
        <option value="$$$">$$$</option>
        <option value="$$$$">$$$$</option>
      </select><br>
      <label for="address-input">Address :</label>
      <input type="text" name="address" id="address-input"><br>
      <label for="cuisine-input">Cuisine :</label>
      <input type="text" name="cuisine" id="cuisine-input"><br>
      <label for="visited-checkbox">Visited :</label>
      <input type="checkbox" name="visited" checked id="visited-checkbox"><br>
      <label for="cover-input">Photo URL :</label>
      <input type="text" name="cover" id="cover-input"><br>
      <button type="submit" id="submit-btn">Add New Restaurant</button>
    </form>
  </section>
</main>

<%- include("../partials/footer") %>
